<footer class="footer-container">
    <section class="adres">
        <h2>Adres</h2>
        <p>OBA Linnaeusstraat<br>
           Linnaeusstraat 44<br>
           1092 CL Amsterdam</p>
    </section>

    <section class="contact">
        <h2>Contact</h2>
        <p>E-mailadres:<br><a href="mailto:m.j.gunsing@hva.nl">m.j.gunsing@hva.nl</a><br>
           Mobiele telefoon: 0643449449</p>
    </section>

    <section class="samenwerken">
        <h2>Samenwerken</h2>
        <p>Wil jij met andere organisaties, buurtbewoners en studenten samenwerken aan de stedelijke uitdagingen van Amsterdam Oost? Stuur een e-mail naar <a href="mailto:m.j.gunsing@hva.nl">m.j.gunsing@hva.nl</a></p>
    </section>
</footer>