@view-transition {
    navigation: auto;
}

body {
    /* Kleuren */
        --primary-color-beige: #F9E8C2;
        --primary-color-green: #3C593E;
        --primary-color-orange: #FF9A41;
        --primary-color-brown: #491B02;
        --secondary-color-light-orange: #F5C275;
        --background-color-main: #fefef9;
    
    /* Typografie */
        --normal-text-size: 16px;
        --font-size-header-s: 20px;
        --font-size-header-m: 34px;
        --font-size-header-l: 40px;
    
        --font-family-website: "Open Sans", sans-serif;

        --font-weight-normal: 400;
        --font-weight-bold: 700;
        --font-weight-black: 900;
        --font-style: italic;
    }

    h1 {
        font-family: var(--font-family-website);
        font-size: var(--font-size-header-l);
        letter-spacing: var(--letter-spacing);
        font-weight: var(--font-weight-black);
    }
    
    h2 {
        font-family: var(--font-family-website);
        font-size: var(--font-size-header-m);
        letter-spacing: var(--letter-spacing);
        font-weight: var(--font-weight-bold);
    }
    
    h3 {
        font-family: var(--font-family-website);
        font-size: var(--font-size-header-s);
        letter-spacing: var(--letter-spacing);
        font-weight: var(--font-weight-bold);
    }
    
    /* p, a {
        font-family: var(--font-family-website);
        font-size: var(--normal-text-size);
        text-decoration: none;
        font-weight: var(--font-weight-normal);
    } */